* {
    margin: 0;
    box-sizing: border-box;
}

header{
    margin: 10px;
    justify-content: center;
}    

header, footer {
    display: flex;
    align-items: center;
    
}
body{
    text-align: center;
    background-color: rgba(73, 116, 126, 0.98);
    filter: opacity(100px);
}

#showroom {
    height: 1000px;
    overflow-y: auto;
}
section {
    margin: auto;
    max-width: 90rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px 10px;
    padding: 25px;
}

#page {
background-color: rgba(252, 255,255, .7);
box-shadow: 0px 0px 15px 1px rgba(15, 15, 15, 0.61);
border-radius: 25px;
overflow: hidden;
max-width: 500px;
min-width: 260px;
}

.group {
    display: flex;
}

#poster{
    padding: 10px;
    grid-area: poster;
    margin-top: 20px;
    justify-content: center;
}

img {
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
}

#title{
    grid-area: title;
    justify-content: center;
    font-size: medium;
    font-style: italic;
    font-weight: bold;
}

#synopsis{
    justify-content: center;
}

footer{
    height: auto;
    justify-content: center;
}